#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main_container{
  display: grid;
  grid-template-columns: 400px auto 40%;
  gap: 24px
}
.header_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1120px;
height: 48px;
  border-radius: 24px;
  border: 1px solid var(--Blueberry, #D4DEFE);
}
.header_input{
  width: 1026px;
  height: 33px;
  background: initial;
  border: none;
}
.header_input:focus-visible{
  border:none;
  outline: none;
}